{% extends "blog/base.html" %}

{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div class="row">
<div class="col-3">
<tr><br>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>
</div>

<div class="col-3">
<tr><br>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</div>
</div>

</table><table><br>


<input type="submit" value="Login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<p><a href="{% url 'password_reset' %}">Perdeu a senha?</a></p>

{% endblock %}
