{% load static %}

<html>
<head>
    <title>Espelho Mágico</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<style>
      body {
        background-image:url("{% static 'images.jpeg' %}")
      }
      .btn-danger{
          background-color: #E0FFFF;
        }
        .btn-danger a:hover{
          background-color: #FFFFFF;
        }
        .carousel-item{
          height: 600px;
        } 
        .carousel-item img{
          height: 600px;
        }
</style>
<body>
  <div class = "container" style="background-color: #FFFFFF">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <div class = "container">
          <img src="{% static 'espelhoMágico.jpg' %}" class="img-fluid">
        <nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #FF9999;">
                <a class="navbar-brand" href="/../">Espelho Mágico</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="textoNavbar">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/../">Início <span class="sr-only">(Página atual)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'category-detail' 1 %}">Saúde</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'category-detail' 2 %}">Moda</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'category-detail' 3 %}">Beleza</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'category-detail' 4 %}">Educação</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'login'%}">Fazer login</a>
                    </li>
                  </ul>
                  <form action="{% url 'search' %}" class="form-inline" method="get">
                    <input name="q" class="form-control mr-sm-2" type="text" placeholder="Pesquisa..." aria-label="Pesquisar">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Pesquisar</button>
                </form>
                </div>
              </nav>

              {% block content %}
              {% endblock %}
              
            <footer class="page-footer font-small" style="background-color: #FF9999;">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 py-5">
                      <div class="mb-5 flex-center">
                        <a class="fb-ic">
                          <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <a class="tw-ic">
                          <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <a class="gplus-ic">
                          <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <a class="li-ic">
                          <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <a class="ins-ic">
                          <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <a class="pin-ic">
                          <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="footer-copyright text-center py-3">© 2018 Copyright:
                  <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
                </div>
              </footer>
      </div>
    </div>
</body>
</html>