{% extends "blog/base.html" %}


{% block content %}

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
            <div class="carousel-item">
                <img class="d-block w-100" src="https://i.ytimg.com/vi/kGcU_BCtuNk/maxresdefault.jpg" alt="Second slide">
            </div>
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://thumbor.guiame.com.br/unsafe/840x500/smart/https://media.guiame.com.br/archives/2017/04/26/2482174571-estudar.jpg" alt="First slide">
                </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://catracalivre.com.br/wp-content/uploads/2018/07/pinceis-maquiagem-como-usar-tipos-istock-peopleimages.jpg" alt="Third slide">
            </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="row">
            {% for post in object_list %}
            
            <div class="col-4">
                <div class="card border-light text-center" style="max-width: 350px;">
                    <div class="card-body">
                
                        <h4 class="card-title">{{ post }}</h4>
                        <p class="card-text">{{ post.description }}</p>
                        <p class="card-subtitle">Autor: {{ post.author }}</p>
                        <p class="card-subtitle">Categoria: {{ post.category }}</p>
                        <br>
                        <a class="btn btn-info" href="{% url 'post-detail' post.pk %}">Ler mais</a>
                    
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
{% endblock %}
