    <div class="col-4">
        <div class="card border-light text-center" style="max-width: 350px;">
            <div class="card-body">
                <h4 class="card-title">{{ post }}</h4>
                <p class="card-text">{{ post.description }}</p>
                <p class="card-subtitle">Autor: {{ post.author }}</p>
                <p class="card-subtitle">Categoria: {{ post.category }}</p>
                <br>
                <a class="btn btn-info" href="{% url 'post-detail' post.pk %}">Ler mais</a>
            </div>
        </div>
    </div>