{% extends "blog/base.html" %}

{% load static %}
{% block content %}
    <h4> {{ object.title}}</h4>
    <p>
        {{ object.author}}<br>
        <p>Categoria: {{ object.category}}</p>
        <img src="{{ object.banner.url }}" class="img-fluid">
        {{ object.created_at}}<br>
    </p>
    <p> {{ object.description }} </p>
    <p> {{ object.text |safe }} </p>
    <h2>Comentários:</h2>
    {% for comment in object.comments.all %}
        {{ comment.text }}
        {{ comment.created_at}}
        <br>
    {% endfor %}

    <form method="POST" action="{% url 'comment' object.id %}">
            {% csrf_token %}
            <textarea name="text">
            </textarea>
            <input type="submit" value="Comentar">
    </form>

{% endblock %}
